<app-nav></app-nav>
​
<main role="main" class="container">
    <div class="jumbotron">
        <div *ngFor="let i of datos">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img id="imagenes" src="{{i.img1}}" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img id="imagenes" src="{{i.img2}}" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img id="imagenes" src="{{i.img3}}" class="d-block w-100 img-fluid" alt="...">
                </div> 
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>           
        <br>
        <h1>{{i.name}}</h1>
        <br>
        <p class="lead">{{i.description}}</p>

        <div class="card text-center">
            <div class="card-header">
              <h2>Precios</h2>   
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Opcion</th>
                            <th scope="col">Precio</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let j of precios">
                            <th scope="row"><input type="radio" name="opcion" formControlName="opcion" value="{{j.price}}"></th>
                            <td>{{j.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <h4 class="text-center">Cantidad</h4>
                    <p class="text-center"><input type="number" formControlName="cantidad"></p> 
                    <br>
                    <div class="d-grid gap-2 col-4 mx-auto">
                    <button class="btn btn-primary" type="submit">Comprar</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
  </main>

<app-footer></app-footer>