<app-nav></app-nav>
<body >
    <div class="fondo" >
        <div class="wraaper">
            <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()" >
                <h2 class="form-signin-heading text-center">Iniciar Sesion</h2>
                <input type="text" class="form-control" formControlName="email" placeholder="Email" required autofocus>
                <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" required autofocus>
                <p><a href="recover">Olvide Mi Contraseña</a></p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button *ngIf="spinner" class="btn btn-lg btn-outline-primary btn-block"  type="submit">Iniciar</button>
                    <div *ngIf="!spinner" class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>           
            </form>
        </div>
    </div>
</body>
<app-footer></app-footer>

