<app-nav></app-nav>
<body >
    <div class="fondo" >
        <div class="wraaper">
            <form class="form-signin">
                <h2 class="form-signin-heading text-center">Iniciar Sesion</h2>
                <input type="text" class="form-control" placeholder="Email Address" required autofocus>
                <input type="password" class="form-control" placeholder="Contraseña" required autofocus>
                <p><a href="">Olvide Mi Contraseña</a></p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Iniciar</button>
                </div>
            </form>
        </div>
    </div>
</body>
<app-footer></app-footer>

