<app-nav></app-nav>
<body >
    <div class="fondo" >
        <div class="wraaper">
            <form class="row g-3" id="form-signin">
                <div class="col-12 text-center">
                    <h2>Registro</h2>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control">
                  </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Email</label>
                  <input type="email" class="form-control"  >
                </div>
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">Contraseña</label>
                  <input type="password" class="form-control">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control">
                  </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Acepto <a href="">Los Terminos y Condiciones</a>
                    </label>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-outline-primary">Registrarme</button>
                </div>
              </form>
        </div>
    </div>
</body>
<app-footer></app-footer>