html,body
{
    margin: 0;
    padding: 0;
}
.fondo
{
    background-image: url(https://wallpapercave.com/wp/wp3172264.jpg);
    width: 100%;
    height: 130%;
    position: absolute;
}
.wraaper
{
    margin: 80px;
}
#form-signin
{
    max-width: 3080px;
    margin: 0 auto;
    background-color: white;
    padding: 15px 40px 50px;
    border: 1px solid;
    border-radius: 10px;
}
.mb-3
{
    width: 50%;
}
.col-6 button
{
    position: relative;right: auto;
}
.xD
{
    position: relative;right: auto;
}
.Op
{
    max-width: 380px;
    margin-left: 15px;
}
.gg
{
    margin-top: 30px;
}
.ut
{
    bottom: unset;
}