<app-nav></app-nav>
<body >
    <div class="fondo" >
        <div class="wraaper">
          <table class="table table-striped" id="form-signin">
            <thead>
              <tr>
                <th scope="col">Ticket</th>
                <th scope="col">Fecha Compra</th>
                <th scope="col">Fecha Expiracion</th>
                <th scope="col">Lugar Tematico</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of datos">
                <th scope="row">{{i.ticket}}</th>
                <td>{{i.date_com | date:'dd/MM/yyyy'}}</td>
                <td>{{i.date_ex | date:'dd/MM/yyyy'}}</td>
                <td>{{i.name_place}}</td>
                <td>{{i.amount}}</td>
                <td>{{i.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</body>
<app-footer></app-footer>