<app-nav></app-nav>
<body >
    <div class="fondo" >
        <div class="wraaper">
          <table class="table table-striped" id="form-signin">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha Compra</th>
                <th scope="col">Fecha Expiracion</th>
                <th scope="col">Lugar Tematico</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>13/02/2021</td>
                <td>13/05/2021</td>
                <td>Panaca</td>
                <td>2</td>
                <td>200.000</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>12/02/2021</td>
                <td>12/04/2021</td>
                <td>Parque Del Cafe</td>
                <td>5</td>
                <td>300.000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>1/02/2021</td>
                <td>1/06/2021</td>
                <td>Parque De Los Arrieros</td>
                <td>1</td>
                <td>70.000</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</body>
<app-footer></app-footer>