<app-nav></app-nav>

<div class="container">  
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <h1 class="my-4">Atracciones
        </h1>        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div *ngFor="let i of datos">
            <div class="col">
              <div class="card shadow-sm">
                <img width="100" height="225" src="{{i.img}}" class="card-img-top" alt="Fort">
                <div class="card-body">
                  <h5 class="card-text">{{i.name}}</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-primary" [routerLink]="['/detalles',i.id]">Ver más</a>
                    </div>
                    <small class="text">7.8</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>   
      <div class="col-md-4">
        <div class="card my-4">
          <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <input class="form-control form-control-dark w-100" type="text" placeholder="Busca" aria-label="Search">
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <button type="button" class="btn btn-outline-success">Buscar</button>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>


        <div class="card my-4">
          <h5 class="card-header">Lugares</h5>
          <div class="card-body">
            <div class="row">
              <form [formGroup]="formlug" (ngSubmit)="onSubmit()" >
              <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <div class="form-check">
                        <input class="form-check-input"  formControlName="name"  name="name" type="radio" value="1" id="exampleRadios1">
                        <label  class="form-check-label" for="exampleRadios1">
                          Armenia
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="name"  name="name" id="exampleRadios2" value="2">
                        <label class="form-check-label" for="exampleRadios2">
                          Pereira
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input class="form-check-input" type="radio"  formControlName="name"  name="name" id="exampleRadios3" value="3" >
                        <label class="form-check-label" for="exampleRadios3">
                          Salento
                        </label>
                      </div>
                    </li>
                  </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Parques Culturales</a>
                  </li>
                  <li>
                    <a href="#"></a>
                  </li>
                  <li>
                    <a href="#"></a>
                  </li>
                </ul>
              </div>
              <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
            </div>
          </div>
        </div>
        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categoria</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios12" value="option1" checked>
                      <label class="form-check-label" for="exampleRadios12">
                        Balsaje
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios13" value="option3">
                      <label class="form-check-label" for="exampleRadios13">
                        Recorido
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios14" value="option3">
                      <label class="form-check-label" for="exampleRadios14">
                        Parques_tematicos
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Parques Culturales</a>
                  </li>
                  <li>
                    <a href="#"></a>
                  </li>
                  <li>
                    <a href="#"></a>
                  </li>
                </ul>
              </div>
              <button type="button" class="btn btn-primary">Buscar</button>
            </div>
          </div>
        </div>
        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Ofertas Especiales</h5>
          <div class="card-body">
            Ninguna
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>

<br><br><br>  
<app-footer></app-footer>